
div {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
#chat {
    border: 1px solid green;
   height: 100%;
}

#users {
    width: 150px;
    float: left;
    border: 1px solid blue;
    list-style: none;
    padding: 5px;
}

#users li {
    cursor: pointer;
}

#msgs {
    border: 1px solid red;
    float: left;
    width: calc(100% - 200px);
}